/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fine file reset */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  color: #58402c;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

.container_header {
  width: 90%;
  background-color: white;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_left {
  line-height: 35px;
}

.header_left a {
  text-decoration: none;
  color: #58402c;
  line-height: 18px;
}

.button_header {
  height: 35px;
  background-color: white;
  color: #30488F;
  border-radius: 5px;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
  font-size: 13px;
  padding: 0 10px;
  border: 1px solid #30488F;
}

.button_header:hover {
  background-color: #233569;
  color: white;
}

.section1 {
  width: 100%;
  height: calc(100%-75px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 h1 {
  font-size: 55px;
  margin: 0 20px 20px 0;
  line-height: 80px;
  color: #58402c;
}

.section1 h2 {
  font-size: 20px;
  line-height: 40px;
  margin: 0 20px 20px 0;
  color: #58402c;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

.container_section1 {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 100px 0;
  border-top: 1px solid lightgrey;
}

.container_section1 .section1_sx,
.container_section1 .section1_dx {
  height: 460px;
}

.img_section1 {
  width: 570px;
  height: 350px;
}

.button1_section1,
.button2_section1 {
  height: 35px;
  background-color: #30488F;
  color: white;
  border-radius: 5px;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
  font-size: 13px;
  padding: 0 10px;
  margin: 20px 0;
}

.button1_section1:hover,
.button2_section1:hover {
  background-color: #233569;
}

.inoltra_section1 a {
  text-decoration: none;
  color: #58402c;
  line-height: 18px;
}

.section2 {
  width: 100%;
  height: 670px;
  background-color: #ffe7d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_section2,
.container_section2bis {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
}

.container_section2bis {
  border-top: 1px solid lightgrey;
}

.titolo h1 {
  width: 630px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.tre_img {
  width: 80%;
  height: 100%;
}

.titolo,
.tre_img {
  margin-bottom: 50px;
}

.container_tre_img {
  display: flex;
  justify-content: space-between;
}

.container_tre_img img {
  width: 140px;
  height: 86px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.img_centrale_section1 {
  width: 286px;
  height: 286px;
}

.h2_card {
  color: #58402c;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
  width: 270px;
}

.section4,
.section3 {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 50px 0px;
}

.img_section3 {
  width: 640px;
  height: 470px;
}

.section3_2 h1 {
  font-size: 20px;
  line-height: 40px;
  margin: 0 20px 20px 0;
  color: #58402c;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

.img_section3_2 {
  width: 270px;
  height: 200px;
  margin-left: 50px;
}

.learn_more {
  margin: 50px 0;
}

.learn_more a {
  text-decoration: none;
  font-size: 25px;
  color: #30488F;
}

.section4 {
  margin-left: 200px;
}

.img_section3_2_bis {
  width: 270px;
  height: 280px;
  margin-left: 50px;
}

.section5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffe7d2;
  padding: 50px 0;
}

.titolo_section5 {
  width: 50%;
  padding: 50px;
}

.titolo_section5 p {
  font-size: 35px;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
  color: #58402c;
  text-align: center;
  line-height: 40px;
}

.testo-centrale_section5 {
  width: 50%;
  padding: 50px;
  background-color: white;
  margin: 20px 0;
  border-radius: 5px;
}

.testo-centrale_section5 p {
  margin-bottom: 50px;
  line-height: 25px;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

