%centra{
  display: flex;
  align-items: center;
  justify-content: center;
}
#header{
  width: 100%;
  @extend %centra;
  padding: 20px 0;
  //border: 1px solid green;
}
.container_header{
  width: 90%;
  background-color: $colore_bianco;
  height: $altezza_header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;

}
.menu li {
  display: inline-block;
  margin-right: 20px;
}
.header_right{
  @extend %centra;
}
.header_left{
  line-height: $altezza_header;
}
.button_header{
  height: $altezza_header;
}
