@import '_mixins.scss';

.section1{
  width: 100%;
  height: calc(100%-75px);
  @include centra;
  h1 {
    font-size: $font_55;
    margin: 0 $margin_20 $margin_20 0;
    line-height: 80px;
    color: $text_color;
  }
  h2{
    @include h2;
  }
}
.container_section1{
  width: 90%;
  @include righe;
  padding: 100px 0;
  border-top: 1px solid lightgrey;
  //background-color: lightblue;
  .section1_sx, .section1_dx{
    height: $altezza_section1;
  }
}
.img_section1{
  width: 570px;
  height: 350px;
}
.button1_section1, .button2_section1{
  height: $altezza_header;
  @include button;
}
.inoltra_section1 a{
  @include inoltra;
}
