$colore_bianco: white;
$altezza_header: 35px;
$altezza_section1: 460px;
$padding_20: 20px;
$margin_20: 20px;
$text_color: #58402c;
$colore_arancione: #ffe7d2;
$margin_50: 50px;
$font_25: 25px;
$padding_50: 50px;
